@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root {
  font-family: Poppins, sans-serif;
  --white: #ffffff;
  --blue: #0349ff;
  --black: #130f13;
}
* {
  margin: 0;
  padding: 0;
}
html {
  /* This Makes 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: var(--blue);
  overflow: hidden;
}
